{% extends 'base.html' %}
{% block content %}
    

<h2>Add a New Member</h2> 

<form action="/members" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{member.name}}" required autofocus>
    </div>

    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{member.age}}" require autofocus>
    </div>

    <div>
        <label for="membership_type">Membership type:</label>
        <select id="membership_type" name="membership_type" value="{{membership_type}}" required autofocus></select>
    </div>

    <button type="submit">Update member</button>
</form>
{% endblock %}