<!DOCTYPE html>
<html lang="en" class="fonts-loaded">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Platinum Gym</title>
</head>
<body>
  <header>
    <div class="container">
        <h1 class="header_title" style="font-family:granite, sans-serif;">Platinum Gym</h1>
        
    </div>


  </header>

            <nav class="nav-bar-container">
                <section class="container" style="font-family: Unica One, sans-serif;">
        
                        <ul class="menu">
                
                            <li>
                                <p class="nav-bar-title">Members</p>
                        
                                    <p class="nav-bar-p">
                                        <a href="/members">View all</a><br>
                                        <a href="/members/new">Add</a>
                                    </p>
                        
                            </li>
                            <li>
                                <p class="nav-bar-title">Exercise Classes</p>
                        
                                    <p class="nav-bar-p">
                                        <a href="/exerciseClasses">View All</a><br>
                                        <a href="/exerciseClasses/new">Add</a>
                                    </p>
                        
                            </li>
                            <li>
                                <p class="nav-bar-title">Bookings</p>
                        
                                    <p class="nav-bar-p">
                                        <a href="/bookings">View all</a><br>
                                        <a href="/booking/new">Add</a>
                                    </p>
                        
                            </li>
                        
                        </ul>
                   
                </section>
            </nav>

            <main>
                <section class="container">
                    {% block content %}
                    {% endblock%}
                </section>
            </main>
</body>
<footer id="footer" class="footer">
        <p>&copy; Platinum Gym 2022</p>
      </footer> <div>
      <div id="footer_lists">
       
        <ul class="footer-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </ul>
       
      </div>
    </div>
  </footer>
</html>